.main {
  margin: 0 45px 0 45px;
}

/* Nav Bar */
nav {
  height: 75px;
}

nav ul li {
  width: 33%;
}

.logo {
  width: 250px;
  height: 50px;
}

.name {
  font-size: x-large;
}

.page-name {
  text-align: center;
  font-size: large;
}

/* Heading of page */
.heading {
  flex-direction: row;
  align-items: center;
}

.heading-buttons {
  display: block;
}

/* System manager and team leader home page top */
.home-top {
  flex-direction: row;
}

.home-top div {
  padding: 0;
}

/* Tables */

/* System manager and team leader team table */
.home-team-table table {
  font-size: x-large;
}

/* Buttons */
.green-button {
  padding: 20px 40px 20px 40px;
}
