.main {
  margin: 0 45px 0 45px;
}

nav {
  height: 75px;
}

nav ul li {
  width: 33%;
}

.logo {
  width: 250px;
  height: 50px;
}

.name {
  font-size: x-large;
}

.page-name {
  text-align: center;
  font-size: large;
}

.green-button {
  padding: 30px 50px 30px 50px;
}
